<%- include top.ejs %>

  <p>Welcome to <%= title %></p>

  <div class="alert alert-info">
    <%= qtd %> usuários registados
  </div>

  <table class="table table-bordered table-striped table-hover">

    <thead class="table-dark">
      <tr>
        <th>Nome</th>
        <th>Ações</td>
      </tr>
    </thead>

    <tbody>
      <% if (docs){
        for(let i=0; i<docs.length; i++){ %>
            <tr>
              <td><a href="/edit/<%= docs[i]._id %>"><%= docs[i].username %></a></td>
              <td>
                <form action='/delete/<%= docs[i]._id %>' method="POST">
                  <input type="submit" value="X" class="btn btn-danger"/>
                </form>
              </td>
            </tr> <%
        }
      } %>
    </tbody>

  </table>

  <nav>
    <ul class="pagination">
      <% for(let i=1; i<=qtdPaginas; i++){ %>
        <li class="page-item"><a class="page-link" href="/index/<%= i %>"><%= i %></a></li> 
      <% } %>
    </ul>
  </nav>
  
  <form action='/logoff' method="POST">

    <div class="btn-group">
      <div class="me-2">
        <a href="/users/signup" class="btn btn-primary">Registar</a>
      </div>

      <div class="me-2">
        <input type="submit" value="logoff" class="btn btn-danger form-control"/>
      </div>

      <% if (profile === '2'){ %>
        <div class="me-2">
          <a href="/reports" class="btn btn-info">Relatórios</a>
        </div>
      <% } %>

    </div>

  </form>
   
<%- include bottom.ejs %>

