<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><% title %></h1>
		<p>Fill the fields below to register a customer.</p>
		<form action="/new" method="POST">
			<fieldset>
				<legend>Registration Data</legend>
				<p>
					Name: <input type="text" name="name" value="<%= customer.name %>" />
				</p>
				<p>
					Age: <input type="number" name="age" value="<%= customer.age %>" />
				</p>
				<p>
					Region: <input type="text" name="city" value="<%= customer.city %>" />
					<select id="state" name="state">
						<option>Select the state</option>
						<option>RS</option>
						<option>SC</option>
						<option>PR</option>
					</select>
				</p>
				<input type="hidden" name="id" value="<%= customer._id %>" />
				<p>
					<input type="submit" value="Salvar" />
					<a href="/">Cancelar</a>
				</p>
			</fieldset>
		</form>
		<script>
			if (window.location.search) {
				const error = window.location.search.split('=')[1];

				alert(decodeURI(error));
			}

			         <%

			         if(customer.state) {

			             %>

			             document.getElementById("state").value = "<%= customer.state %>"

			             <%

			         }

			         %>
		</script>
	</body>
</html>
