<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
		<p><%= customers.length %> registered customers!</p>
		<table>
			<thead>
				<tr>
					<td>Name</td>
					<td>Age</td>
					<td>Region</td>
					<td>Actions</td>
				</tr>
			</thead>
			<tbody>
				<% customers.forEach(item=>{ %>
				<tr>
					<td><%= item.name %></td>
					<td><%= item.age %></td>
					<td><%= item.city %> <%= item.state %></td>
					<td></td>
				</tr>
				<% }) %>
			</tbody>
		</table>
		<hr />
		<a href="/new">Register New</a>
	</body>
</html>
